#dashboardContent{
    display: grid;
    grid-template-areas:
    "linechart orderTable"
    "stockTable orderTable";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px;
    width: 100%;
    overflow: auto;
}

#linechart,
#orderTable {
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
}

#linechart{
    grid-area: linechart;
    text-align: center;
    border: var(--componentBorder);
    border-radius: var(--componentBorderRadius);
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

#chartWrapper{
    flex: 1;
    width:  100%;
    min-height: 0;
    position: relative;
}

#orderTableWrapper{
    min-width: 0;
    min-height: 0;
    flex: 1;
    overflow-y: auto;
}

#stockTable {
    grid-area: stockTable;
    background-color: transparent;
    border: var(--componentBorder);
    border-radius: var(--componentBorderRadius);
    min-width: 0;
    min-height: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#stockTableWrapper{
    min-width: 0;
    min-height: 0;
    flex: 1;
    overflow-y: auto;
}

#orderTable{
    grid-area: orderTable;
    background-color: transparent;
    border: var(--componentBorder);
    border-radius: var(--componentBorderRadius);
    min-height: 350px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
}

@media (max-width: 1100px) {
    #dashboardContent {
        grid-template-areas:
            "linechart"
            "stockTable"
            "orderTable";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media (max-width: 600px) {
    #dashboardContent {
        gap: 15px;
        padding: 15px;
    }
}






