#dashboardContent{
    display: grid;
    grid-template-areas:
    "linechart orderTable"
    "stockTable orderTable";
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    grid-template-rows: auto 1fr;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px;
    width: 100%;
    overflow: hidden;
}

#linechart,
#stockTable,
#orderTable {
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
}

#linechart{
    grid-area: linechart;
    text-align: center;
    border: #1A1F16 solid 2px;
}

#chartWrapper{
    width:  100%;
    height: 400px;
    position: relative;
}

#stockTable{
    grid-area: stockTable;
    overflow-y: auto;
    background-color: transparent;
    border: #1A1F16 solid 2px;
}

#orderTable{
    grid-area: orderTable;
    overflow-y: auto;
    background-color: transparent;
    border: #1A1F16 solid 2px;
}






