#content {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}

.menuPageLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  height: 100%;
  align-items: stretch;
  overflow-y: scroll;
}

.product-card__disable-button {
  border: 2px solid var(--fontColor);
  border-radius: 10px;
  background: var(--secondary);
  color: var(--fontColor);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  margin-bottom: 5px;
  justify-content: center;
  max-width: 250px;
  min-width: 100px;
  min-height: 50px;
}

.productCardAdd {
  border: 2px dashed var(--primary);
  background: var(--bg);
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.2s ease;
}

.productCardAddIcon {
    background-color: #4CAF50;
    border: 2px dashed var(--primary);
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuPageProduct button{
  font-size: 16px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  width: 100px;
}
