#content {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}

.menuPageLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  height: 100%;
  align-items: stretch;
  overflow-y: auto;
}

.productCardAdd {
  border: 2px dashed var(--primary);
  background: var(--bg);
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.2s ease;
}

.productCardAddIcon {
    background-color: #4CAF50;
    border: 2px dashed var(--primary);
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuPageProduct button{
  font-size: 16px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  width: 100px;
}

.menuPageLayout .productCard.enable .btnAdd {
    background-color: var(--highlightRed);
}
