.viewBox{
    height: auto;
    display: inherit;
    border: transparent;
}

.iconLabelIcon {
    color: var(--primary);
    margin: auto 0.625rem auto auto;
    width: var(--btnSize);
    height: var(--btnSize);
}

.iconLabelLabel{
    margin: auto;
    padding-right: 0.3125rem;
    padding-left: 0.1875rem;
    font-size: 1.3rem;
}

#account{
    cursor: pointer;
}

#specialIcon:hover{
        cursor: pointer;
}