.viewBox{
    height: auto;
    display: inherit;
    border: transparent;
}

#icon {
    color: var(--primary);
    margin: auto 10px auto auto;
    width: var(--btnSize);
    height: var(--btnSize);
}

#label{
    margin: auto;
    padding-right: 5px;
    padding-left: 3px;
    font-size: 1.3rem;
}

#account{
    cursor: pointer;
}

#specialIcon:hover{
        cursor: pointer;
}