#content{
    display: grid;
    grid-template-areas:
    "linechart orderTable"
    "stockTable orderTable";
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    grid-template-rows: auto 1fr;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px;
    width: 100%;
    overflow: hidden;
}

#linechart,
#stockTable,
#orderTable {
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
}

#linechart{
    grid-area: linechart;
    text-align: center;
    border: #1A1F16 solid;
}

#stockTable{
    grid-area: stockTable;
    border: #1A1F16 solid;
    overflow-y: auto;
}

#orderTable{
    grid-area: orderTable;
    border: #1A1F16 dotted;
    overflow-y: auto;
}

.contentTitle{
    color: var(--primary);
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}




