#sideMenu #navLink{
    border-radius: 10px;
}

#sideMenu .active {
    border: var(--primary) 2px solid;
}

#sideMenu .active #secName{
    font-weight: bold;
}

#sideMenu .inactive {
    border: transparent 2px solid;
}