*{
  margin: 0;
  padding: 0;
}

/*--------------Layout section------------*/
#layout-grid {
  display: grid;
  grid-template-columns: 18vw 1fr;
  grid-template-rows: 60px 1fr;
  width: 100%;
  height: 100vh;
  /*overflow-x: hidden;*/

  grid-template-areas:
  "sideMenu topbar"
  "sideMenu content";

}

#layout-grid #sideMenu {
  grid-area: sideMenu;
  border-right: #1A1F16 solid;
}

#layout-grid #sideMenu a {
  text-decoration: none;
}

#layout-grid #sideMenu a.active {
  color: white;
  text-decoration: #1A1F16 underline;
  border-radius: 12px;
  display: block;
}

#layout-grid #topBar {
  grid-area: topbar;
  background-color: var(--bg);
  justify-content: space-around;
  border-bottom: #1A1F16 solid;
}
#layout-grid #content {
  grid-area: content;

}

/*--------------Global components styling section------------*/

.contentTitle{
  color: var(--primary);
  font-weight: bold;
  font-size: 1.1rem;
  justify-content: center;
  display: flex;
  padding: 5px 5px 5px 5px;
}