:root {
  --fontColor: #1A1F16;
  --bg: #FFFBFF;
  --primary: #4F9D69;
  --secondary: #EEE82C;
  --betterOrange: #FE5F00;
  --highlightRed: #ef233c;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --btnSize: 30px;

  --mainFont: "Roboto";
  --mainFontWeight: 400;

  color: var(--fontColor);
  background: var(--bg);
  font-family: var(--mainFont), sans-serif;
  font-weight: 400;

}
